<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Отправить нам письмо", 'Email' %></li>
      <li><%= link_to "Отзывы о нас", 'Reviews' %></li>
      <li><a href="http://myndozero.herokuapp.com">Проект разработан skate</a></li>
    </ul>
  </nav>
</footer>
